# Ignore virtual environment
.venv/

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/

# VS Code settings (if any)
.vscode/

# Ignore these folders
fine_tuned_model/
logs/

# But still track these files inside them
!fine_tuned_model/.gitkeep
!logs/.gitkeep
